doctype html
html
  head
    meta(charset='UTF-8')

    title gulp test

    link(rel='stylesheet', href='css/app.css')

  body
    header
      p.header-title Gulp test!

    nav
      ul.menu
        li.menu-list
          a(href='http://gulpjs.com/', title='gulp.js') gulp.js

        li.menu-list
          a(href='http://learnboost.github.io/stylus/', title='stylus') stylus

    pre.prettyprint
      include:markdown ../md/sample.md
    
    div#react

    script(src='//fb.me/react-with-addons-0.13.1.js')
    script(src='//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
    script(src='js/bundle.js')
